.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)), url('../../assets/uni.jpg');
    background-size: cover; /* Makes sure the image covers the whole element */
    background-position: center; /* Centers the image within the element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width: 100%; /* Ensure the element has a width */
    height: 100vh; /* Ensures the element has a height, adjust as needed */
     color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
}
.hero-text{
    text-align: center;
    max-width: 800vh;

}
.hero-title h1{
    font-size: 60px;
    font-weight: 600;
}
.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}

/* medai query */

@media(max-width:850px){
    .hero-text h1{
        font-size: 40px;
    }
}
@media(max-width:650px){
    .hero-text h1{
        font-size: 30px;
        max-width: 400px;
        margin: auto;
    }
    .hero-text p{
        font-size: 14px;
        margin: 15px auto 30px;
    }
}